/* _content/Restaurants.Infrastructure/Component1.razor.rz.scp.css */
.my-component[b-vwa5gz67ci] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
